@model ABCD_Mall_Online.Areas.Admin.Models.AdminViewModel
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Store Manager</h2>

<form action="" method="get" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="">Label</label>
        <input class="form-control" name="name" placeholder="Search ...." />
    </div>
    <button type="submit" class="btn btn-default mr-1"><i class="fa fa-search"></i></button>
    <a asp-action="Create" class="btn btn-primary fa fa-plus">Create New</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.store.StoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.stList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <img src="~/images/store/@item.image" width="60">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StoreId" class="btn btn-success"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.StoreId" class="btn btn-info"><i class="fa fa-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.StoreId" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.stList ,page => Url.Action("Index" , new { page = page}),
    new PagedListRenderOptions
    {
        ContainerDivClasses = new string[] {"p-3"},
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string [] {"page-link"}
    }
)



